@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 100px;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}

a {
    text-decoration: none;
}

.App {
    margin-bottom: 20px;
}