.header {
   height: 70px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 2;
   background-color: #191919;
}

.nav-desktop {
    display: none;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    height: 40px;
    position: relative;
    padding: 0.1rem;
    cursor: pointer;
    z-index: 3;
}

.hamburger div {
    width: 40px;
    height: 5px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.hamburger.open .hamburger-middle {
    opacity: 0;
}

.hamburger.open .hamburger-top {
    position: absolute;
    top: 40%;
    transform: rotate(45deg);
    background-color: red;
}

.hamburger.open .hamburger-bottom {
    position: absolute;
    top: 40%;
    transform: rotate(-45deg);
    background-color: red;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 100px 2rem 2rem 2rem;
    border-bottom-right-radius: 12px;
    background-color: #191919;
    color: red;
    visibility: visible;
    transform: translate(0);
    transition: all 0.3s ease-in-out;
    z-index: 2;
    min-height: 300px;
}

.links.collapse {
    visibility: hidden;
    transform: translate(-100%);
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.link.active {
    color: white;
    background-color: red;
}

@media (min-width: 500px) {
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
        height: 100%;
    }

    .links {
        margin: 0 1rem;
        padding: 0 1rem;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        justify-content: flex-end;
        align-items: center;
        border-radius: 0px;
        background-color: #191919;
        color: red;
        min-height: auto;
    }
}