.header {
   
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.nav input {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    width: 78px;
    height: 60px;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 3;   
    cursor: pointer;
    appearance: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    height: 60px;
    position: relative;
    padding: 0.2rem;
    cursor: pointer;
    z-index: 2;
}

.hamburger div {
    width: 70px;
    height: 10px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    background-color: #191919;
}

.nav input:checked ~ .hamburger .hamburger-middle {
    opacity: 0;
}

.nav input:checked ~ .hamburger  .hamburger-top {
    position: absolute;
    top: 40%;
    transform: rotate(45deg);
    background-color: red;
}

.nav input:checked ~ .hamburger .hamburger-bottom {
    position: absolute;
    top: 40%;
    transform: rotate(-45deg);
    background-color: red;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 100px 2rem 2rem 2rem;
    border-bottom-right-radius: 12px;
    background-color: #191919;
    color: red;
    transform: translate(-100%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav input:checked ~ .links {
    visibility: visible;
    transform: translate(0);
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.link.active {
    color: white;
    background-color: red;
}